@model Mosaic.Models.Professor;

@{
    ViewData["Title"] = "ChangePassword";
    List<string> usernames = (List<string>)ViewData["Usernames"];

}

<h2>Change Password</h2>
<h4>Professor</h4>
<h5> @ViewData["ErrorMessage"] </h5>
<hr />
<body onload="fillUsername()">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label" style="border:none"> Username</label>
                    <input id="username" type="text" class="form-control" required name="username" onchange="validateUsername()"/>
                </div>

                <div class="form-group">
                    <label class="control-label" style="border:none"> Old Password</label>
                    <input id="old" type="password" class="form-control" required name="oldPass" />
                </div>
                <div class="form-group">
                    <label id="label" class="control-label" style="border:none"> New Password</label>
                    <input id="new" type="password" class="form-control" required name="newPass"  />
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-default" onclick="return validate()" />
                </div>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript">
    function validate() {
        var oldPass = document.getElementById("old").value;
        var newPass = document.getElementById("new").value;

        if (oldPass == newPass) {
            alert("The old and new passwords cannot be the same!");
            return false;
        } else if (newPass.length < 5) {
            alert("New password must be at least 5 characters!");
            return false;
        }

        return validateUsername();
    }

    function fillUsername() {
        var uName = @Json.Serialize(ViewData["Username"]);
        document.getElementById("username").value = uName;
    }

    function validateUsername() {
        var uNames = @Json.Serialize(usernames);
        var uCount = @usernames.Count();
        var i = 0;
        for (i = 0; i < uCount; i++) {
            if (uNames[i] == document.getElementById("username").value) {
                document.getElementById("username").style.backgroundColor = "LightGreen";
                return true;
            }
        }

        document.getElementById("username").style.backgroundColor = "LightCoral";
        alert("Username not found! Invalid.");
        return false;
    }
</script>

<a asp-action="LoginProf">Back to Login</a>