@{
    ViewData["Title"] = "CannotDrop";
}

<h2>Error - Unable to Drop the Class</h2>

<h4> Usual Issues with Dropping a Class are Listed Below: </h4>

<ul>
    <li> The Class Code entered is invalid</li>
    <li> The Class Code entered corresponds to a class that you are not currently enrolled in</li>
</ul>

<p> If the error persists even after you have tried to correct these steps, let me know. <br /> - Kael Bosland </p>

<img src="~/images/failure.gif" alt="Unable to Drop the Class" />

<div>
    <a asp-action="DropClass">Back to Drop Screen</a>
</div>