@model Mosaic.Models.Student;

@{
    ViewData["Title"] = "Menu";
}

<style>
    .button {
        background-color: aqua;
        border: solid;
        color: black;
        padding: 15px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        width: 200px;
    }
</style>

<h2>Student Menu</h2>

<h3> Welcome to the Main Menu :)</h3>
<div style="width:600px">

    <div style="width:300px;">

        <form action="/Students/EmailMenu">
            <button class="button" type="submit"> Go To Email</button>
        </form>

        <form action="/Students/ChangePassword">
            <button class="button" type="submit">Change Password</button>
        </form>

        <form action="/Students/Index">
            <button class="button" type="submit">View All Students</button>
        </form>

        <form action="/Students/Edit">
            <button class="button" type="submit">Check my Profile</button>
        </form>

        <form action="/Students/EnrollInClass">
            <button class="button" type="submit">Enroll in a Class</button>
        </form>

        <form action="/Students/DropClass">
            <button class="button" type="submit">Drop a Class</button>
        </form>

        <form action="/Students/Delete">
            <button class="button" type="submit">Drop Out of School</button>
        </form>

    </div>
</div>
