
@{
    ViewData["Title"] = "StudentAdded";
}

<h2>Student has been added succesfully!</h2>

<h4>Proceed to the Student Login page linked below to activate your new account. </h4>

<img src="~/images/success.gif" alt="Student Added Successfully" />

<div>
    <a asp-action="LoginStudent">Login with New Credentials</a>
</div>

