
@{
    ViewData["Title"] = "StudentNotFound";
}

<h2>Error - Student Not Found</h2>

<img src="~/images/lookin.jpg" alt="Searching for Account..." />
<img src="~/images/cantfind.jpg" alt="Where the Account At??" />